[Desktop Entry]
Name=TkGate
GenericName=Digital circuit editor and simulator
Comment=Event driven digital circuit simulator with a tcl/tk-based graphical editor
Type=Application
Exec=tkgate
Icon=tkgate
Categories=Engineering;Electronics;Education;


# Translations
Comment[gl]=Simulador dun circuíto dixital dirixido por eventos e baseado nun editor gráfico tcl/tk.
Icon[gl]=tkgate
Name[gl]=TkGate
GenericName[gl]=Editor e simulador de circuítos dixitais
Icon[de]=tkgate
Name[de]=TkGate
GenericName[de]=Digitaler Schaltkreis Editor und Simulator
Comment[pl]=Symulator obwodów sterowany zdarzeniami z edytorem graficznym bazującym na tcl/tk
Icon[pl]=tkgate
Name[pl]=TkGate
GenericName[pl]=Symulator i edytor układów cyfrowych
Comment[pt_BR]=Evento conduzido simulador de circuito digital com um tcl/editor gráfico baseado em tk
GenericName[pt_BR]=Editor circuito digital e simulador
Comment[ru]=Управляемый событиями симулятор цифровых схем с основанным на tcl/tk графическим редактором
Icon[ru]=tkgate
Name[ru]=TkGate
GenericName[ru]=Редактор и симулятор цифровых схем
Comment[it]=Simulatore ad eventi di circuiti digitali tramite editor grafico basato su tcl/tk
Icon[it]=tkgate
Name[it]=TkGate
GenericName[it]=Programma per il disegno e la simulazione di circuiti digitali
Comment[ca]=Simulador de circuits digitals impulsat per esdeveniments amb un editor gràfic basat en tcl/tk
Icon[ca]=tkgate
Name[ca]=TkGate
GenericName[ca]=Editor i simulador de circuits digitals
Comment[sr]=Догађајем вођен симулатор дигиталног кола са Тцл/Тк заснованим графичким уређивачем
Icon[sr]=tkgate
Name[sr]=TkGate
GenericName[sr]=Симулатор и уређивач дигиталних електричних кола
Comment[da]=Hændelsesdrevet digitalt kredsløbssimulator med et tcl/tk-baseret grafisk redigeringsprogram
Icon[da]=tkgate
Name[da]=TkGate
GenericName[da]=Digitalt kredsløbsredigeringsprogram og simulator
Comment[sv]=Händelsedriven digital kretssimulator med en tcl/tk-baserad grafisk editor
Icon[sv]=tkgate
Name[sv]=TkGate
GenericName[sv]=Digital kretseditor och -simulator
Comment[es]=Simulador de circuitos digitales bajo eventos con un editor basado en las librerías tcl/tk
Icon[es]=tkgate
Name[es]=TkGate
GenericName[es]=Editor y simulador de circuitos digitales
Comment[uk]=Керований подіями імітатор цифрових схем із заснованим на tcl/tk графічним редактором
Icon[uk]=tkgate
Name[uk]=TkGate
GenericName[uk]=Редактор і імітатор цифрових схем
Icon[pt_PT]=tkgate
Name[pt_PT]=TkGate
Comment[fr]=Simulateur de circuits numériques évenementiel avec un éditeur graphique basé sur Tcl/Tk
Icon[fr]=tkgate
Name[fr]=TkGate
GenericName[fr]=Éditeur et simulateur de circuits numériques
